
body {
  padding-top: 56px;
  font-family: Inter;
  background-color: #292929;
  color: rgb(255, 255, 255);
  
}

.table-striped tbody tr:nth-of-type(2n+1) {
  background-color: #686868;
  
  
}
.table td, .table th {
  border-top: 1px solid #a0a0a0;
}
.table thead th {
  border-bottom: 2px solid #ffffff;
}

/* Header */
.navbar-nav .dropdown-menu {
  display: none;
  
  

}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  background-color: #ffb0f4;
  color:rgb(255, 255, 255);

  
  
}

nav.navbar {
  
  
	background-color:  #ffb0f4 !important;
  
  
}
